html{ /*Para estilizar a página por inteiro*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}

.container{ /*Para estilizar o "corpo" do texto*/
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 50px 50px;
}

.header{
    text-align: center;
}

.main-title{
    font-size: 40px;
}
.main-paragraph{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.bold_italic{
    font-weight: bold;
    font-style: italic;
}
.imagem_container{
    text-align: center; /*Afim de centralizar a imagem*/
    margin-top: 30px;
}
.biografia_container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.quotes_container{
    background-color: #ddd;
    padding: 30px;
}

.quotes_container blockquote{
    font-weight: bold;
    font-size: 30px;
}

.quotes_container p{
    font-style: italic;
   
}
.members_container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}
.members_container li{
    height: 30px;
}

.segunda_imagem{
font-weight: bold;
text-align: center;
}

footer{
    font-style: oblique;
}
.imagem{
    width: 800px;
    height: 533px;
   
}